$blue:#4990E2;
$orange:#f96;
$black:#000;
$white:#fff;
$grey:#ccc;
$dark-grey:#666;
$light-grey:#efefef;
$dark-green:#099;
$green:#3c763d;
$red:#D0011B;
$light-green:#00cc99;
// for index.html 
body{
	padding:0;
	margin:0;
	background:$light-grey;
	overflow-y:hidden;
}

// index:nav
.nav{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:10%;	
	background:$green;
	z-index:2;
	border-bottom:2px solid $green;
	& img{
		position:absolute;
		right: 0px;
		top:0px;
		width:100%;
	}
}
.nav-bar{
	margin-top:30px;
}

.nav-logo{
	cursor:pointer;

	& img{
		margin-top: -20px;
		width:auto;
		height: 80px;
	}
	& a{
		width: auto;
		height: 30px;
		color:$white;
		font-size: 30px;
		text-decoration: none;
	}
}
.nav-title{
	& h1{
		margin:0;
		color:$white;
	}
}
.nav-user{
	& p{
		margin-top: 20px;
		color:$white;
	}
	& img{
		width: auto;
		height:40px;
	}
}
// .nav-user{
// 	width:120px;
// 	height:50px;
// 	cursor:pointer;
// 	background:$black;
// 	// opacity:.7;
// 	& p{
// 		width:auto;
// 		height:30px;
// 		font-size:10px;
// 		font-weight: normal;
// 		margin-top: 30px;
// 		color:$white;
// 	}
// 	& img{
// 		width:auto;
// 		height:40px;
// 		margin-top: 5px;
// 	}
// 	&:hover{
// 		opacity:.7;
// 	}
// }




// index:menu
.menu{
	position:fixed;
	top:0px;
	left:0px;
	width:120px;
	height:100%;
	background:$white;
	border-right:2px solid $green;
	// box-shadow:10px 0px 10px $grey;
	& ul{
		position:absolute;
		top:80px;
		left:0px;
		width:120px;
		height:auto;
		margin:0;
		padding:0;
		// background: $black;
	}
	& ul li{
		text-align: center;
		margin-top:30px;
		margin-left:0px;
		width: 120px;
		height:30px;
		list-style: none;
		cursor: pointer;
	}
	& ul li:nth-child(1){
		border-bottom:2px solid $green;
		& a{
			color:$green;
		}
	}
	& ul li a{
		font-size: 20px;
		text-decoration:none;
		color:$dark-grey;
	}
	& ul li a:hover{
		text-decoration:none;
		color:$green;
	}
}


// wea
.wea{
	transition:.3s;
	cursor:pointer;
	&:hover{
		& img{
			width:110%;
			transition-duration:.3s;
		}
	}
}
.wea1{
	position:relative;
	float:left;
	margin-top:20px;
	margin-left:20px;
	margin-right:10px;
	margin-bottom:5px;
	height:250px;
	width:470px;
	background:$grey;
	text-align:center;
	overflow:hidden;
	& img{
		position:absolute;
		top:0px;
		left:0px;
		width: 100%;
	}
	& h1{
		position:absolute;
		top:10px;
		left:10px;
		color: $black;
		font-size: 25px;
	}
}
.wea1-index{
	position:absolute;
	top:80px;
	& ul li{
		list-style: none;
		color:$white;
		font-size: 20px;
		text-align: left;
		margin-bottom: 5px;

		& span{
			color:$orange;
		}
	}
}

.wea2{
	position:relative;
	float:left;
	margin-top:5px;
	margin-left:20px;
	margin-right:10px;
	margin-bottom:20px;
	height:250px;
	width:470px;
	text-align:center;
	background:$grey;
	overflow:hidden;
	& img{
		position:absolute;
		top:0px;
		left:0px;
		width: 100%;
	}
	& h1{
		position:absolute;
		top:10px;
		left:10px;
		color: $black;
		font-size: 25px;
	}
}
.wea2-index{
	position:absolute;
	top:80px;
	& ul li{
		list-style: none;
		color:$white;
		font-size: 20px;
		text-align: left;
		margin-bottom: 5px;

		& span{
			color:$orange;
		}
	}
}
.wea2-report{
	position:absolute;
	top:80px;
	left:200px;
	& ul li{
		list-style: none;
		color:$white;
		font-size: 20px;
		text-align: left;
		margin-bottom: 5px;

		& span{
			color:$orange;
		}
	}
}

.wea3{
	position:absolute;
	top:20px;
	left:510px;
	height:510px;
	width:470px;
	text-align:center;
	background:$light-green;
	// overflow

	& h1{
		position:absolute;
		top:10px;
		left:10px;
		color: $white;
		font-size: 25px;
	}

	& h2{
		position:absolute;
		top:240px;
		left: 10px;
		color: $white;
		font-size: 25px;
	}

	&:hover{
		& img{
			width:50px;
		}
	}

}
.wea3-review{
	position:absolute;
	top:80px;
	width:100%;
	height:150px;
	// background:$orange;

	& ul li{
		list-style: none;
		float:left;
		margin:10px;
		& span{
			color:$orange;
		}
	}


}
.wea3-review-block{
	color:$white;
	& img{
		width:50px;
		margin-right: 10px;
		margin-left: 10px;
	}
}
.wea3-week{
	position:absolute;
	top:300px;
	left:50px;

}
#myChart{
	width:200px;
	height:200px;
}


// index.board
#board1{
	height:550px;
	background:$white;
	display:block;
	& h1{
		color:$white;
	}
}
#board4{

}
#board5{
	// top:100px;
}
#board6{
	// top:600px;
}
#board7{
	height:550px;
	background:$white;
}
.board{
	// position:absolute;
	// left:200px;
	// top:100px;
	display:none;
	position:absolute;
	top:120px;
	left:200px;
	width:1000px;
	padding:0;
	width:1000px;
	margin-bottom:150px;
	height:auto;
	// display:none;
	// background:$black;
	border:2px solid $green;
	// box-shadow: 0px 0px 5px $green;
}
table{
	background:$white;
	text-align:center;
	& thead tr th{
		text-align:center;
	}
}

.deleteTextSpan{
	font-weight:bold;
	font-size:15px;
}
	// overwrite
.modal-header{
	background:$green;
	text-align:center;
	& button{
		color:$white;
	}
	& button:hover{
		color:$white;
	}
	& h4{
		// font-size: 25px;
		color:$white;
	}
}
.select{
	width:15% !important;
}


// b7
.b7-left{
	margin-top:50px;
	border-right:1px solid $green;
}
.b7-left .row{
	margin-bottom:50px;
}
.b7-logo{
	background:$black;
	width:150px;
	height:150px;
	border-radius:90px;
	& img{
		position: absolute;
		left:0px;
		width:auto;
		height:150px;
	}
	overflow:hidden;
}
.b7-right{
	margin-top:50px;
	& ul li{
		list-style: none;
		margin-top:60px;
	}
}

.b7-li{

	& label{
		float:left;
		font-size: 20px;
	}
	& p{
		margin-left:20px;
		font-size: 20px;
	}
}
.b7-bottom{
	margin-top:10px;
	text-align:center;
	& button{
		width:200px;
	}
}



















// for sign.html
.sign{
	position:absolute;
	top:-100%;
	left:0px;
	width:100%;
	height:100%;
	background:#ccc;
	z-index:10;
	// zIndex最高为10
	overflow:hidden;

	& img{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
	}
}
.remember{
	position:relative;
 	width:100px;
 	height:30px;
	& label{
		float:left;
		// margin-bottom:3px;
		// top:-20px;
	 	width:70px;
	 	font-size: 10px;
	 	color: $dark-grey;
	}
}

.checkbox{
 	// float: left;
 	position:relative;
 	left: 0px;
	top:0px;	
	width:30px;
 	& input{
 		margin:0px;
 		height:20px;
 	}
}
#r-name-err{
	display:none;
}
#r-pass-err{
	display:none;
}
#r-phone-err{
	display:none;
}
#phone-err{
	display:none;
}
#pass-err{
	display:none;
}
.form-err{
	color:$red;
	& p{
		font-size: 10px;
		text-align: left;
	}
}

.input-suc{
	border:1px solid $green !important;
}
.input-err{
	border:1px solid $red !important;
}







// for userall