body {
  padding: 0;
  margin: 0;
  background: #efefef; }

.nav {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 10%;
  background: #3c763d;
  z-index: 2;
  border-bottom: 2px solid #3c763d; }
  .nav img {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%; }

.nav-bar {
  margin-top: 30px; }

.nav-logo {
  cursor: pointer; }
  .nav-logo img {
    margin-top: -20px;
    width: auto;
    height: 80px; }
  .nav-logo a {
    width: auto;
    height: 30px;
    color: #fff;
    font-size: 30px;
    text-decoration: none; }

.nav-title h1 {
  margin: 0;
  color: #fff; }

.nav-user p {
  margin-top: 20px;
  color: #fff; }
.nav-user img {
  width: auto;
  height: 40px; }

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 100%;
  background: #fff;
  border-right: 2px solid #3c763d; }
  .menu ul {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 120px;
    height: auto;
    margin: 0;
    padding: 0; }
  .menu ul li {
    text-align: center;
    margin-top: 30px;
    margin-left: 0px;
    width: 120px;
    height: 30px;
    list-style: none;
    cursor: pointer; }
  .menu ul li:nth-child(6) {
    border-bottom: 2px solid #3c763d; }
    .menu ul li:nth-child(6) a {
      color: #3c763d; }
  .menu ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #666; }
  .menu ul li a:hover {
    text-decoration: none;
    color: #3c763d; }

#board7 {
  height: 550px;
  background: #fff; }

.board {
  display: none;
  position: absolute;
  top: 120px;
  left: 200px;
  width: 1000px;
  padding: 0;
  width: 1000px;
  margin-bottom: 150px;
  height: auto;
  border: 2px solid #3c763d; }

table {
  background: #fff;
  text-align: center; }
  table thead tr th {
    text-align: center; }

.deleteTextSpan {
  font-weight: bold;
  font-size: 15px; }

.modal-header {
  background: #3c763d;
  text-align: center; }
  .modal-header button {
    color: #fff; }
  .modal-header button:hover {
    color: #fff; }
  .modal-header h4 {
    color: #fff; }

.select {
  width: 15% !important; }

.b7-left {
  margin-top: 50px;
  border-right: 1px solid #3c763d; }

.b7-left .row {
  margin-bottom: 50px; }

.b7-logo {
  background: #000;
  width: 150px;
  height: 150px;
  border-radius: 90px;
  overflow: hidden; }
  .b7-logo img {
    position: absolute;
    left: 0px;
    width: auto;
    height: 150px; }

.b7-right {
  margin-top: 50px; }
  .b7-right ul li {
    list-style: none;
    margin-top: 60px; }

.b7-li label {
  float: left;
  font-size: 20px; }
.b7-li p {
  margin-left: 20px;
  font-size: 20px; }

.b7-bottom {
  margin-top: 10px;
  text-align: center; }
  .b7-bottom button {
    width: 200px; }

.sign {
  position: absolute;
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #ccc;
  z-index: 10;
  overflow: hidden; }
  .sign img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%; }

.remember {
  position: relative;
  width: 100px;
  height: 30px; }
  .remember label {
    float: left;
    width: 70px;
    font-size: 10px;
    color: #666; }

.checkbox {
  position: relative;
  left: 0px;
  top: 0px;
  width: 30px; }
  .checkbox input {
    margin: 0px;
    height: 20px; }

#r-name-err {
  display: none; }

#r-pass-err {
  display: none; }

#r-phone-err {
  display: none; }

#phone-err {
  display: none; }

#pass-err {
  display: none; }

.form-err {
  color: #D0011B; }
  .form-err p {
    font-size: 10px;
    text-align: left; }

.input-suc {
  border: 1px solid #3c763d !important; }

.input-err {
  border: 1px solid #D0011B !important; }

/*# sourceMappingURL=style.css.map */
