@media screen and (max-width:1000px){
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background: #efefef;
  /*overflow-x: hidden; */
}
.nav{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 70px;
  background: #3c763d;
  z-index: 2;
  border-bottom: 2px solid #3c763d;
  overflow: hidden; 
}
.nav img{
	display: none;
}

.nav-bar{
  	display: none;
}

.nav-bar-mobile{
	position: relative;
  	margin:0 auto;
  	top: 10px;
  	width: 100%;
}
.nav-bar-mobile img{
	margin-top:5px;
	display: block;
	height: 60px;
	width: 60px;
}
.nav-bar-mobile h1{
	margin-top: 20px;
	font-size: 1.5em;
	color:#fff;
}
.nav-bar-mobile p{
	margin-top: 20px;
	font-size: 1em;
	color:#fff;
	text-align: right;
}



 
.menu {
  	position: fixed;
  	top: 70px;
  	left: 0px;
  	width: 100%;
  	height: 50px;
  	background: #fff;
  	/*border-right: 2px solid #3c763d; */
  	z-index: 10;
	overflow-x:scroll;
}
  .menu ul {
    position: relative;
    top: 5px;
    left: 0px;
    width: 300%;
    height: 25px;
    margin: 0;
    padding: 0; }
  .menu ul li {
  	position: relative;
  	float: left;
    text-align: center;
    margin-top: 0px;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    list-style: none;
    cursor: pointer;
    font-size: .8em; }
  .menu ul li:nth-child(1) {
    border-bottom: 2px solid #3c763d; }
    .menu ul li:nth-child(1) a {
      color: #3c763d; }
  .menu ul li a {
    font-size: 1.5em;
    text-decoration: none;
    color: #666; }
  .menu ul li a:hover {
    text-decoration: none;
    color: #3c763d; }



.wea {
  transition: .3s;
  cursor: pointer;
  border-radius: 5px; }
  .wea:hover img {
    width: 110%;
    transition-duration: .3s; }

.wea1 {
  position: relative;
  margin-top:25px;
  left:5%;
  height: 160px;
  width: 90%;
  background: #ccc;
  text-align: center;
  overflow: hidden; }
  .wea1 img {
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    width: 100%; }
  .wea1 h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000;
    font-size: 25px;
    margin:5px; }

.wea1-index {
  position: absolute;
  top: 50px; }
  .wea1-index ul li {
    list-style: none;
    color: #fff;
    font-size: 15px;
    text-align: left;
    margin-bottom: 5px; }
    .wea1-index ul li span {
      color: #fff;
      /*color: #f96;*/
       }

.wea2 {
  position: relative;
  margin-top:25px;
  left:5%;
  height: 160px;
  width: 90%;
  text-align: center;
  background: #ccc;
  overflow: hidden; }
  .wea2 img {
    top: 0px;
    left: 0px;
    width: 100%; }
  .wea2 h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000;
    font-size: 25px;
    margin:5px; }

.wea2-index {
  position: absolute;
  top: 50px; }
  .wea2-index ul li {
    list-style: none;
    color: #fff;
    font-size: 15px;
    text-align: left;
    margin-bottom: 5px; }
    .wea2-index ul li span {
      color: #fff; }



.wea3 {
  position: relative;
  margin-top: 25px;
  left: 5%;
  height: 160px;
  width: 90%;
  text-align: center;
  /*background: #00cc99;*/
  background: #fff;
  border:1px solid #3c763d;
  overflow:hidden;
   }
  .wea3 h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #3c763d !important;
    font-size: 25px;
    margin:5px; }
  .wea3 h2 {
    position: absolute;
    top: 240px;
    left: 10px;
    color: #3c763d;
    font-size: 25px; }
  .wea3:hover img {
    width: 40px; }

.wea3-review {
  position: absolute;
  top: 50px;
  width: 290px;
  height: 150px;
  overflow:hidden;

  }
  .wea3-review ul{
    padding: 5px;
  }
  .wea3-review ul li {
    list-style: none;
    float: left;
    margin: 7px;
    font-size: 10px;
    text-align: center;
    width: 50px;
  }
  .wea3-review ul li span {
    color: #333; 
  }

.wea3-review-block {
  position: relative;
  float: left;
  width:50px;
  color: #3c763d; }
  .wea3-review-block img {
    width: 40px;
    margin-right: 10px;
    margin-left: 10px; }

.wea3-week {
  position: absolute;
  top: 300px;
  left: 50px; }

.wea4 {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  left: 5%;
  height: 150px;
  width: 90%;
  text-align: center;
  overflow: hidden;
   }
.wea4:hover img{
  height: 110%;
  width: auto;
}
  .wea4 img {
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    width: 100%; }
  .wea4 h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #000;
    font-size: 25px; }
.wea4-report {
  position: absolute;
  top: 80px;
   }
  .wea4-report ul li {
    list-style: none;
    color: #fff;
    font-size: 20px;
    text-align: left;
    margin-bottom: 5px; }
    .wea4-report ul li span {
      color: #fff; }

#myChart {
  width: 200px;
  height: 200px; }

/*chart*/

#c1{
  position:relative;
  margin-top:25px;
  left:5%;
  background: rgb(199,237,233);
}
#c2{
  position:relative;
  margin-top:25px;
  left:5%;
  background: rgb(175,215,237);
}
#c3{
  position:relative;
  margin-top:25px;
  left:5%;
  background: rgb(92,167,186);
  /*background: rgb(255,66,93);  红*/
}
#c4{
  position:relative;
  margin-top:25px;
  margin-bottom:25px;
  left:5%;
  background: rgb(147,224,255);
}

/*rgb(255,66,93)*/
.chart{
  /*float: left;*/
  border-radius: 5px;
  width:90%;
  height: 250px;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
}
.chart h3{
	position: relative;
	margin-top: 10px
  	font-size: 1em;
}


.chart-bar{
  margin-left: 10px;
  margin-top: 10px;
  width:100%;
  height:200px;
  float: left;

}
.invisible-chart{
	display: none;
}
	
.chart-bar h1{
  	font-size: 18px;
  	display: none;
}
.chart-c{
  /*background: #000;*/
  width:90%;
  height:150px;
}
  


/*stat*/
#stat{
  position: relative;
  left:5%;
  margin-top:25px;
  margin-bottom:25px;
  width:90%;
  height:auto;
  background: rgb(199,237,233);
  border-radius:5px;
  padding: 10px;
}

#stat h1{
  position: relative;
  top:20px;
  left:20px;
  margin-bottom:20px;
  color: #666;
  font-size: 25px;
}

/*user-all*/
#user-all{
  position: relative;
  left:5%;
  margin-top:25px;
  margin-bottom:25px;
  width:90%;
  height:auto;
  background: rgb(175,215,237);
  border-radius:5px;
  padding: 10px;
}
#toolbar-all{

}


/*user*/
#user{
  position: relative;
  left:5%;
  margin-top:25px;
  margin-bottom:25px;
  width:90%;
  height:auto;
  background: rgb(147,224,255);
  border-radius:5px;
  padding: 10px;
}


/*board*/

#board1 {
  width: 100%;
  background: #fff;
  display: block; }
  #board1 h1 {
    color: #fff; }

#board3{
  width: 100%;
  background: #fff;
}
#board4{
  width: 100%;
  background: #fff;
}
#board5{
  width: 100%;
  background: #fff;
}
#board6{
  width: 100%;
  background: #fff;
}
#board7 {
  width: 100%;
  background: #fff; }

.board{
  display: none;
  position: absolute;
  top: 120px;
  left: 0%;
  /*width: 1000px;*/
  padding: 0px;
  width: 100%;
  margin-bottom: 150px;
  height: auto;
  border: 2px solid #3c763d;
  box-shadow: 0px 0px 5px #666;
  border-radius: 5px; }

table {
  background: #fff;
  opacity: .9;
  text-align: center;
   }
table thead tr th{
    text-align: center; }

.deleteTextSpan {
  font-weight: bold;
  font-size: 15px; }

.modal-header {
  background: #3c763d;
  text-align: center; }
  .modal-header button {
    color: #fff; }
  .modal-header button:hover {
    color: #fff; }
  .modal-header h4 {
    color: #fff; }

.select {
  width: 15% !important; }


/*user-one*/
#user-one{
  position: relative;
  left:5%;
  margin-top:25px;
  margin-bottom:25px;
  width:90%;
  height:auto;
  background: rgb(147,224,255);
  border-radius:5px;
  padding: 10px;
}
.b7-left {
  margin-top: 50px;
  border-right: 2px solid #fff; }

.b7-left .row {
  margin-bottom: 50px; }

.b7-logo {
  position: relative;
  background: #000;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  overflow: hidden; 
}
  .b7-logo img {
    position: absolute;
    left: 0px;
    top:0px;
    width: auto;
    height: 70px;
    border-radius: 5px; }
  .b7-name h1{
    margin: 0px;
    font-size: .7em;
  }
  .b7-auth h3{
    margin:0px;
    font-size: .7em;
  }

.b7-right {
  margin-top: 0px; }
  .b7-right ul li {
    list-style: none;
    margin-top: 60px; }

.b7-li label {
  float: left;
  font-size: .7em; }
.b7-li p {
  margin-left: 5px;
  font-size: .7em; }

.b7-bottom {
	display: none;
  margin-top: 10px;
  text-align: center; }
  .b7-bottom button {
    width: 200px; }





.sign {
  position: absolute;
  top: 0%;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #ccc;
  z-index: 12;
  overflow: hidden; }
  .sign img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%; }

.remember {
  position: relative;
  width: 100px;
  height: 30px; }
  .remember label {
    float: left;
    width: 70px;
    font-size: 10px;
    color: #666; }

.checkbox {
  position: relative;
  left: 0px;
  top: 0px;
  width: 30px; }
  .checkbox input {
    margin: 0px;
    }

#r-name-err {
  display: none; }

#r-pass-err {
  display: none; }

#r-phone-err {
  display: none; }

#phone-err {
  display: none; }

#pass-err {
  display: none; }

.form-err {
  color: #D0011B; }
  .form-err p {
    font-size: 10px;
    text-align: left; }

.input-suc {
  border: 1px solid #3c763d !important; }

.input-err {
  border: 1px solid #D0011B !important; }


}